@import "../../../styles/mixins";

.wrapper {
  width: 100%;
  padding: 170px 0;
  background: #f5f7f7;
  border-radius: 40px;
  margin-top: 1px;
  .container {
    @include center();
    .rows {
      display: flex;
      flex-direction: column;
      align-items: center;
      .hero-title {
        text-align: center;
        font-family: "Neue Machina";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
        font-feature-settings: "ss01" on, "ss03" on;
        color: #000000;
        @media screen and (max-width: 750px) {
          font-size: 34px;
          line-height: 44px;
        }
      }
      .search {
        margin-top: 10px;
        box-sizing: border-box;
        // height: 43px;
        padding: 5px 5px 5px 10px;
        gap: 10px;
        background: #f0f0f0;
        border-radius: 100px;
        display: flex;
        align-items: center;
        .subtitle {
          font-family: "Gordita";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
        .btn {
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          box-sizing: border-box;
          padding: 10px 10px 8px;
          gap: 6px;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          font-family: "Gordita";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
          font-feature-settings: "kern" off;
          color: #000000;
          min-width: 124px;
          white-space: nowrap;
          &:hover {
            background: #000000;
            color: #fff;
          }
        }
        @media screen and (max-width: 500px) {
          padding-left: 16px;
        }
      }
    }
    .cards {
      margin-top: 40px;
      width: 100%;
      box-sizing: border-box;
    }
  }

  :global(.slick-arrow) {
    display: none !important;
  }
  :global(.slick-dots) {
    bottom: -42px !important;
    z-index: 10;
    li {
      button {
        width: 8px !important;
        height: 8px !important;
        border: 1px solid #000000;
        border-radius: 50%;
        &::before {
          display: none !important;
        }
      }
    }
    :global(.slick-active) {
      button {
        background: #000000 !important;
      }
    }
  }
  :global(.slick-track) {
    display: flex !important;
  }
  :global(.slick-slide) {
    height: inherit !important;
    & > div {
      height: 100%;
      padding: 0 5px;
    }
  }
}

.blog {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  &-wrap {
    width: 100%;
    height: 100%;
    border-radius: 16px !important;
    border: 1px solid transparent;
    transition: 0.3s;
    transition-property: border-color;
    overflow: hidden;
    box-sizing: border-box;
    &:hover {
      border: 1px solid #000;
      .left {
        img {
          transform: scale(1.1);
        }
      }
    }
    .left {
      width: 100%;
      height: 260px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 260px !important;
        // position:  relative !important;
        transition: 0.3s;
        transition-property: transform;
      }
    }
    .right {
      width: 100%;
      background: #fff;
      box-sizing: border-box;
      padding: 20px;
      height: inherit;
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:nth-child(2) {
          margin-top: 16px;
        }
        .date {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: #000000;
        }
        .title {
          margin-top: 16px;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 650;
          font-size: 24px;
          line-height: 28px;
          color: #000000;
        }
        .row {
          display: flex;
          align-items: center;
          gap: 16px;
          &:nth-child(2) {
            margin-top: 18px;
          }
          .btn {
            padding: 4px 8px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
          }
          .text {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
          }
          .person {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &:not(:nth-child(2)) {
    .right {
      height: calc(100% - 260px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.skeleton {
  .container {
    background: transparent !important;
    .right {
      background: #fff;
    }
  }
}
