.wrapper {
  background: #fff;
  overflow: hidden;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  padding: 80px 0 0px;
  margin-top: 1px;
  .text-slider {
    width: 100%;

    .text-container {
      overflow: hidden;
      width: 100%;
      :global(.overlay) {
        &::before {
          display: none !important;
        }
        &::after {
          display: none !important;
        }
      }
      .text-row {
        .hero-title {
          display: inline-block;
          scroll-behavior: smooth;
          font-family: "Neue Machina";
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 80px;
          font-feature-settings: "ss01" on, "ss03" on;
          color: #000000;
          @media screen and (max-width: 750px) {
            font-size: 34px;
            line-height: 44px;
          }
        }
      }
      margin-bottom: 40px;
    }
  }
  .wrap {
    width: 100%;
    margin: 0 auto;
    background-image: url("../../../assets/images/howitworks/Vector.svg");
    padding: 90px 0 90px 0;
    .title {
      font-family: "Gordita";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #000000;
      padding: 0 30px;
      box-sizing: border-box;
      @media screen and (max-width: 420px) {
        padding: 0 10px;
      }
    }
    .container {
      margin-top: 30px;
      min-height: 600px;
      overflow-x: scroll;
      scroll-snap-align: center;
      &::-webkit-scrollbar {
        display: none;
      }
      padding: 0 30px;
      .row {
        box-sizing: border-box;
        width: 1129px;
        max-width: 1129px;
        margin: 0 auto;
        display: flex;
        background-image: url("../../../assets/images/triple/Group\ 3739.webp");
        background-position: center;
        background-size: 878px auto;
        background-repeat: no-repeat;
        justify-content: space-between;
        padding-top: 440px;
        height: 224px;
        position: relative;
        .messages {
          position: relative;
          bottom: -20%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          width: 150px;
          height: 120px;

          @media screen and (max-width: 1189px) {
            display: block;
          }
        }
        @media screen and (min-width: 1400px) {
          max-width: 1170px;
          margin: 0 auto;
          max-width: 100%;
        }
        .left {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 340px;
          height: 216px;
          background: #ffffff;
          border: 2px solid #000000;
          border-radius: 40px;
          padding: 25px;
          .card {
            display: flex;
            align-items: center;
            gap: 11px;
            margin-top: 10px;
            &:nth-child(1) {
              margin-bottom: 20px;
              margin-top: 0;
            }
            .subtitle {
              font-family: "Gordita";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 34px;
              color: #000000;
            }
            img {
              width: 14.43px;
              height: 14.43px;
            }
            .description {
              font-family: "Gordita";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }
        .right {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 340px;
          height: 216px;
          background: #ffffff;
          border: 2px solid #000000;
          border-radius: 40px;
          padding: 25px;
          .card {
            display: flex;
            align-items: center;
            gap: 11px;
            margin-top: 10px;
            &:nth-child(1) {
              margin-bottom: 20px;
              margin-top: 0;
            }
            h1 {
              font-family: "Gordita";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 34px;
              color: #000000;
            }
            img {
              width: 14.43px;
              height: 14.43px;
            }
            p {
              font-family: "Gordita";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }
      }
      @media screen and (max-width: 750px) {
        min-height: 650px;
      }
    }
    @media screen and (max-width: 750px) {
      padding: 60px 0 0px 0;
    }
  }
  @media screen and (max-width: 750px) {
    padding: 100px 0;
  }
}
